@import "bourbon/bourbon";

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px),
only screen and (max-height : 900px){
  .content{
    width: 600px;
    height: 450px;
    margin-left: -300px;
 }
  .wrapper{
    width: 600px;
  }
  .content-wrap{
    height: 100%;
    margin-top: -450px;
  }
  .sidebar{
    width: calc((100% - 600px)/2);
  }
  .nav {
    right: 35px;
  }
  .r-carousel-wrap{
    .gallery-item{
      width: 600px;
      img{
        max-height: 450px;
      }
    }
  }
  .soc {
    margin-top: 20px;
    margin-left: 50px;
  }
  .lang{
    bottom: 15px;
    &_item{
      margin-bottom: 10px;
    }
  }
  .logo{
    bottom: 15px;
    img{
      width: 60px;
      height: 60px;
    }
  }
  .block_contact{
    background-size: 100%;
    background-position: right bottom;
  }
  .about-info{
    width: 450px;
  }
  .project-item {
    height: 142px;
    &_name{
      width: 33%;
      height: 70px;
      margin-top: 35px;
      &-text{
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 12px;
      }
    }

  }
  .pagination{
    li{
      margin-top: 5px;
    }
  }
  .arrow{
    height: 80px;
    margin-bottom: 75px;
    li:first-child{
      margin-bottom: 40px;
    }
    &-back{
      margin-bottom: 40px;
    }
  }
  .arrow-gallery{
    height: 80px;
    margin-bottom: 75px;
    li:first-child{
      margin-bottom: 40px;
    }
  }

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
}