@import "bourbon/bourbon";

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px),
only screen and (max-height : 900px){
  body{
    font-size: 13px;
  }
  .content{
    width: 600px;
    height: 450px;
    margin-left: -300px;
 }
  .wrapper{
    width: 600px;
  }
  .content-wrap{
    height: 100%;
    margin-top: -450px;
  }
  .sidebar{
    width: calc((100% - 600px)/2);
  }
  .nav {
    right: 35px;
    height: 360px;
    margin-top: -180px;
    li{
      margin-bottom: 37px;
    }
    img{
      width:12px;
      height: auto;
    }
  }
  .arrow-up,
  .arrow-down,
  .arrow-gallery-up,
  .arrow-gallery-down{
    background-size: 33%;
  }
  .arrow-back{
    width: 17%;
  }
  .minus{
    height: 12px;
    background-size: 75%;
  }
  .pag_item.active .page-num{
    font-size: 15px;
  }
  .r-carousel-wrap{
    .gallery-item{
      width: 600px;
      img{
        max-height: 450px;
      }
    }
  }
  .soc {
    margin-top: 20px;
    margin-left: 50px;
  }
  .lang{
    bottom: 15px;
    &_item{
      margin-bottom: 10px;
    }
  }
  .logo{
    bottom: 15px;
    img{
      width: 60px;
      height: 60px;
    }
  }
  .block_contact{
    background-size: 100%;
    background-position: right bottom;
  }
  .about-info{
    width: 450px;
  }
  .project-item {
    height: 142px;
    &_name{
      width: 33%;
      height: 70px;
      margin-top: 35px;
      &-text{
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 12px;
      }
    }
  }
  .pagination{
    li{
      margin-top: 5px;
    }
  }
  .arrow{
    height: 80px;
    margin-bottom: 75px;
    li:first-child{
      margin-bottom: 40px;
    }
    &-back{
      margin-bottom: 40px;
    }
  }
  .arrow-gallery{
    height: 80px;
    margin-bottom: 75px;
    li:first-child{
      margin-bottom: 40px;
    }
  }

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px),
only screen and (max-height : 600px){
  html{
    height:initial;
  }
  body{
    padding-top: 25px;
    background-color: #fff;
    font-size: 15px;
  }
  .normal{
    display: none;
  }
  .mob{
    display: block;
    &-header{
      padding: 20px;
      img{
        float: right;
        width: 70px;
        height: 70px;
      }
    }
    &-lang{
      float: left;
      margin-top: 10px;
    }
    &-lang_item{
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &-block-content{
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px;
    }
    &-block_about{
      min-height: 300px;
      display: table;
      background: url("../img/frontend/content_bg.jpg") center repeat;
      background-size:contain;
    }
    &-block_contact{
      display: table;
      margin-top: 30px;
      background: url("../img/frontend/content_bg.jpg") center repeat;
      background-size:contain;
    }
    &-about_desc{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    &-block_header{
      position: absolute;
      top: 5%;
      left: 0;
      width: 100%;
      font-size: 60px;
      font-weight: bold;
      color: #000;
      text-align: center;
      &-about, &-contact{
        color: #fff;
      }
    }
    &-soc{
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      &_item{
        float: left;
        width: 50%;
        text-align: center;
      }
    }
    &-block_project,
    &-block_subject{
      padding-top: 130px;
    }
    &-project-item{
      display: table;
      float: left;
      width: 32%;
      height: 250px;
      margin-right: 2%;
      margin-bottom: 2%;
      background-size: cover;
      background-position: center;
      &:nth-child(4n){
        margin-right: 0;
      }
      &_name{
        position: relative;
        width: 50%;
        height: 120px;
        margin: 0 auto;
        margin-top: 65px;
        vertical-align: bottom;
        background-color: rgba(255,255,255,0.9);
        overflow: hidden;
        &-text{
          position: absolute;
          bottom: 10px;
          left: 10px;
          font-size: 12px;
        }
      }
      &:hover {
        cursor: pointer;
        .project-item_name {
          opacity: 1;
          transition: all .5s ease;
        }
      }
    }
    &-nav{
      position: fixed;
      top: -140px;
      width: 100%;
      padding-top: 5px;
      z-index: 5;
      background-color: rgba(255, 255, 255, 0.9);
      transition: all .5s ease;
      &.active{
        top: 0;
        transition: all .5s ease;
      }
      li{
        padding-bottom: 5px;
        padding-top: 8px;
        text-align: center;
        border-bottom: 1px solid #000;
        a{
          padding: 0;
          line-height: 16px;
          color: #000;
        }
      }
    }
  }
  .mob-carousel-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    opacity: 0;
    z-index:-1;
    &.active{
      opacity: 1;
      z-index: 999;
    }
    .mob-gallery-item{
      img{
        width: initial;
        height: initial;
        margin: 0 auto;
        vertical-align: middle;
      }
    }
  }
  .mob-close-gallery{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index:9999;
    .fa{
      color: #000;
    }
  }
  .close.icon:after {
    position: absolute;
    top: 10px;
    width: 21px;
    height: 2px;
    content: '';
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

  .close.icon:before {
    position: absolute;
    top: 10px;
    width: 21px;
    height: 2px;
    content: '';
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

  .close.icon {
    position: absolute;
    left: 50%;
    width: 21px;
    height: 21px;
    color: #000;
    margin-top: -2px;
    margin-left: -70px;
    z-index: 99; }

  .menu-i.icon:after {
    position: absolute;
    top: 5px;
    left: 0;
    width: 17px;
    height: 2px;
    content: '';
    background-color: currentColor; }

  .menu-i.icon:before {
    position: absolute;
    top: -5px;
    left: 0;
    width: 17px;
    height: 2px;
    content: '';
    background-color: currentColor; }

  .menu-i.icon {
    position: absolute;
    left: 50%;
    width: 17px;
    height: 2px;
    margin-left: -55px;
    margin-top: 7px;
    background-color: currentColor;
    color: #000;
    z-index: 99; }

  .icon,
  .icon:before,
  .icon:after {
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease; }

  .button-menu {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #000;
    color: #000;
    font-family: "SolomonSansNormal", sans-serif;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
  .button-menu.active {
    top: 133px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
  .mob-block_header{
    top: 40px;
    &-about{
      top: 10px;
    }
  }
  .mob-block_project,
  .mob-block_subject{
    padding-top: 130px;
    padding-bottom: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .mob-project-item{
    width: 47%;
    height: 150px;
    margin-right: 0;
    margin-bottom: 6%;
    &:nth-child(2n){
      margin-right: 6%;
    }
  }
  .mob-project-item_name{
    height: 80px;
    margin-top: 40px;
  }
}